<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-left" style="display:none" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large"
                onclick="w3_close()">
            Close &times;
        </button>

        <a class="nav navbar-nav" id="probaSlika" style="background-color:white">
            <img class="logo" style="text-align:center;" alt="Logo" src="@Url.Content("~/Content/koo.png")" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");">
        </a>
        <a>
            <img src="@Url.Action("UserPhotos", "Home" )" height="48" width="48" />

        </a> 
        <button class="w3-bar-item w3-button" onclick="@("window.location.href='" + @Url.Action("Jobs", "User") + "'");"><i class="fa fa-briefcase"></i> Jobs</button>
        <button class="w3-bar-item w3-button" onclick="@("window.location.href='" + @Url.Action("News", "User") + "'");"><i class="fa fa-newspaper-o"></i> News</button>
        <button class="w3-bar-item w3-button" onclick="@("window.location.href='" + @Url.Action("Events", "User") + "'");"><i class="fa fa-calendar"></i> Events</button>
        <button class="w3-bar-item w3-button" onclick="@("window.location.href='" + @Url.Action("Profil", "User") + "'");"><i class="fa fa-user"></i> Profile</button>
    </div>

    <div class="w3-main" id="main">

        <div class="w3-teal col-md-1">
            <a class="w3-bar-item w3-button" onclick="w3_open()"><i class="fa fa-bars"></i></a>
            <button class="w3-bar-item w3-button" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");"><i class="fa fa-home"></i></button>
            <button class="w3-bar-item w3-button" onclick="@("window.location.href='" + @Url.Action("Jobs", "User") + "'");"><i class="fa fa-briefcase"></i></button>
            <button class="w3-bar-item w3-button" onclick="@("window.location.href='" + @Url.Action("News", "User") + "'");"><i class="fa fa-newspaper-o"></i></button>
            <button class="w3-bar-item w3-button" onclick="@("window.location.href='" + @Url.Action("Events", "User") + "'");"><i class="fa fa-calendar"></i></button>
            <button class="w3-bar-item w3-button" onclick="@("window.location.href='" + @Url.Action("Profil", "User") + "'");"><i class="fa fa-user"></i></button>
            <button class="w3-bar-item w3-button"><i class="fa fa-search"></i></button>
            @Html.ActionLink("Proba", "Profile", "Home", new { requestid = User.Identity.Name }, null)
        </div>
        <div class="w3-container col-md-11">
            <div class="container body-content">

                @RenderBody()
                <hr />
                <footer></footer>
            </div>
        </div>


    </div>

    <script>
        function w3_open() {
            document.getElementById("main").style.marginLeft = "25%";
            document.getElementById("mySidebar").style.width = "25%";
            document.getElementById("mySidebar").style.display = "block";
        }
        function w3_close() {
            document.getElementById("main").style.marginLeft = "0%";
            document.getElementById("mySidebar").style.display = "none";
        }

    
    </script>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                  </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   

                    @if (Request.IsAuthenticated && User.IsInRole("Admin")) {
                        <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
 

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
