@model IdentitySample.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}


<div class="row">
    <div class="col-md-8 dugme">
        <img class="avatar" src="@Url.Content("~/Content/avatar.png")">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label velicinaSlovaLabela" })
                    <div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control col-md-5" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger velicinaSlovaLabela" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label velicinaSlovaLabela" })
                    <div>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control col-md-5" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger velicinaSlovaLabela" })
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <div class="col-md-5">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe, new{@class = "velicinaSlova"})
                        </div>
                    </div>
                </div>
                <div class="span2">
                    <p><button  type="submit" class="btn btn-primary btn-block boja">Log in</button></p>
                </div>
               
                <p>
                    @Html.ActionLink("Register a new user?", "Register")
                </p>
                <p>
                    @Html.ActionLink("Forget your password?", "ForgotPassword")
                </p>
            }
        </section>
    </div>
    <div class="col-md-4">
        <img class="avatar" src="@Url.Content("~/Content/service.png")">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new IdentitySample.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}