@model IdentitySample.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<img class="avatar" src="@Url.Content("~/Content/avatar.png")">

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-success">
            <strong>Success!</strong>@ViewBag.Message
        </div>
    }
}
else
{
    using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-5 velicinaSlovaLabela" })
            <div>
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger col-md-2 velicinaSlovaLabela" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-5 velicinaSlovaLabela" })
            <div>
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger col-md-2 velicinaSlovaLabela" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Usernameee, htmlAttributes: new { @class = "control-label col-md-5 velicinaSlovaLabela" })
            <div>
                @Html.EditorFor(model => model.Usernameee, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                @Html.ValidationMessageFor(model => model.Usernameee, "", new { @class = "text-danger col-md-2 velicinaSlovaLabela" })
            </div>
        </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-5 velicinaSlovaLabela" })
                <div>
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger col-md-2 velicinaSlovaLabela" })
                </div>
            </div>
            <h1>           </h1>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-5 velicinaSlovaLabela" })
                <div>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger col-md-2 velicinaSlovaLabela" })
                    @Html.ValidationMessage("EmailExist", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label col-md-5 velicinaSlovaLabela" })
                <div>
                    @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                    @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger col-md-2 velicinaSlovaLabela" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-5 velicinaSlovaLabela" })
                <div>
                    @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger col-md-2 velicinaSlovaLabela" })
                </div>
            </div>
            <h1>                 </h1>
            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-5 velicinaSlovaLabela" })
                <div>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger col-md-2 velicinaSlovaLabela" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-5 velicinaSlovaLabela" })
                <div>
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger col-md-2 velicinaSlovaLabela" })
                </div>
            </div>

            <div class="form-group">
                <div>
                    <div class="col-md-10">
                        @Html.CheckBoxFor(m => m.Employer)
                        @Html.LabelFor(m => m.Employer, new { @class = "velicinaSlova" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.UserPhoto, new { @class = "col-md-5 control-label" })
                <div class="col-md-10">

                    <input type="file" name="UserPhoto" id="fileUpload" accept=".png,.jpg,.jpeg,.gif,.tif" />

                </div>
            </div>
            <h1>                      </h1>
            <div class="span2">
                <p><button type="submit" class="btn btn-primary btn-block boja">Register</button></p>
            </div>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
