@model codeApp.Models.ImageEmpModel

@{
    ViewBag.Title = "www.compilemode.com";
}

@using (Html.BeginForm("ImageFileUpload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <div class="col-md-12">
            @Html.Action("ImageFileDetails", "Home")
        </div>
    </div>

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-12">
                <button id="try" style="width:100%;" class="btn btn-info">Upload new image</button>
                @Html.TextBoxFor(model => model.Imagefiles, "", new {  @type = "file", @multiple = "multiple",@id="first",@title=" "})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" id="second" class="hidden" />
            </div>
        </div>
        <script>
            $("#try").click(function () {
                $("#first").click();
                return false;
            });
           
            $("#first").change(function () {
                $("#second").click();
                return false;
            });
        </script>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-success">
                @ViewBag.FileStatus
            </div>
        </div>


    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>  